body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background-image: url("../images/loan-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    width: 420px;
    margin: 60px auto;
    background: rgba(255,255,255,0.95);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #1d2671;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #c33764;
}

h3 {
    text-align: center;
    margin-top: 15px;
}
